<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="lolReply">
  <insert id="lolinsertReply">
    insert into reply (rno,bno,replytext,replyer) values
      ( reply_seq.nextval, #{bno}, #{replytext}, #{replyer} )
  </insert>
  
  <select id="lollistReply" 
  resultType="com.example.teamProject.model.lol.dto.LolReplyDTO">
    select rno,bno,replyer,regdate,updatedate,name,nick,replytext
      from reply r, login l
      where r.replyer=l.userid and bno=#{bno}
      order by rno
  </select>
   
</mapper>













